<section (contextmenu)="$event.preventDefault()" class="wrapper">
  <div #container class="canvas">
    <div class="overlay">
      <div *ngIf="player?.inventory" class="inventory">
        <img
          [class.gun--selected]="player.inventory.getSelectedWeapon()?.config?.inventorySlot === 'primary'"
          [src]="player.inventory.getStorage()?.primary?.config?.imageUrl"
          alt="primary"
          class="gun"
        />
        <img
          [class.gun--selected]="player.inventory.getSelectedWeapon()?.config?.inventorySlot === 'secondary'"
          [src]="player.inventory.getStorage()?.secondary?.config?.imageUrl"
          alt="secondary"
          class="gun"
        />
        <img
          [class.gun--selected]="player.inventory.getSelectedWeapon()?.config?.inventorySlot === 'melee'"
          [src]="player.inventory.getStorage()?.melee?.config?.imageUrl"
          alt="melee"
          class="gun"
        />
      </div>
    </div>
  </div>
</section>
