.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto 0 auto;
}

.canvas {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0;
}

.overlay {
  user-select: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid black;
}

.inventory {
  align-self: flex-end;
  margin: auto 12px 14px auto;
  height: 60px;
  border: 1px solid gray;
  display: flex;
  image-rendering: pixelated;
  background: rgba(255, 255, 255, 0.3);
}

.gun {
  height: 60px;
  padding: 0 12px;
  box-sizing: border-box;
  border: 1px solid #808080;

  &--selected {
    background: rgba(255, 255, 255, 0.4);
  }
}
