<section (contextmenu)="$event.preventDefault()" class="wrapper">
  <div #container class="canvas">
    <div class="overlay">
      <div *ngIf="player?.inventory" class="inventory">
        <img
          [class.gun--selected]="player.inventory.getSelectedWeapon()?.config?.inventorySlot === 'primary'"
          [src]="player.inventory.getStorage()?.primary?.config?.imageUrl"
          alt="primary"
          class="gun"
        />
        <img
          [class.gun--selected]="player.inventory.getSelectedWeapon()?.config?.inventorySlot === 'secondary'"
          [src]="player.inventory.getStorage()?.secondary?.config?.imageUrl"
          alt="secondary"
          class="gun"
        />
        <img
          [class.gun--selected]="player.inventory.getSelectedWeapon()?.config?.inventorySlot === 'melee'"
          [src]="player.inventory.getStorage()?.melee?.config?.imageUrl"
          alt="melee"
          class="gun"
        />
      </div>
    </div>
  </div>
</section>

<ul *ngIf="p5" class="info">
  <input [(ngModel)]="frameRate" max="144" min="15" type="range"/>
  <li>
    <b>FPS: </b><span>{{p5.frameRate().toPrecision(3)}}</span>
  </li>
  <li>
    <b>Delta: </b><span>{{(p5.deltaTime / 10).toPrecision(3)}}</span>
  </li>
</ul>
